name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Install dependencies
        run: |
          pip install sphinx==9.1.0 sphinx_rtd_theme==3.1.0 sphinx-favicon myst_parser==5.0.0 sphinx_sitemap sphinxcontrib.newsfeed
      - name: Sphinx build
        run: |
          sphinx-build -W --keep-going doc _build
          if [ $? -ne 0 ]; then
            echo -e "\033[1;31mSphinx build FAILED\033[0m\n"
            exit 1
          else
            echo -e "\033[1;32mSphinx build PASSED\033[0m\n"
          fi
